<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
      Directories will use the Directory.GetFiles Search Option
      to determine the folders to delete (see the Remarks section on MSDN):
      http://msdn.microsoft.com/en-us/library/ms143316(v=vs.110).aspx
    -->
    <add key="Directories" value="bin;obj;packages;TestResults;_NCrunch*;_ReSharper*" />
    <add key="Files" value=".user;.ncrunchsolution;.ncrunchproject;.suo" />

    <!-- 
      When source control cleansing is enabled, the directories and file
      extensions listed here will included in the Directories and Files keys. 
      The default TFS file bindings are: .vssscc;.vspscc
    -->
    <add key="SourceControlDirectories" value=".github;.svn" />
    <add key="SourceControlFiles" value=".vssscc;.vspscc" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>